<div class="container">
  <h1>Preguntados</h1>

  @if (cargando) {
  <p>Cargando preguntas...</p>
  }

  @if (estadoJuego === 'seleccion' && !cargando) {
  <div class="seleccion-categoria">
    <h2>Elige una categoría para empezar</h2>
    <div class="opciones-categoria">
      @for (categoria of categorias; track categoria) {
      <button class="btn-juego" (click)="seleccionarCategoria(categoria)">{{ categoria.nombre | titlecase }}</button>
      }
    </div>
  </div>
  }

  @if (this.estadoJuego === 'jugando' && preguntaActual && !cargando) {
  <div class="pregunta-container">
    @if(preguntaActual.pregunta.startsWith('http')) {
      <img [src]="preguntaActual.pregunta" alt="¿Qué Pokémon es?" width="150" height="150">
      <h2>¿Qué Pokémon es?</h2>
    } @else {
    <h2>{{ preguntaActual.pregunta }}</h2>
    }
    <div class="opciones">
      @for (opcion of preguntaActual.opciones; track $index) {
      <button class="btn-opcion" (click)="seleccionarRespuesta(opcion)" [disabled]="!!respuestaSeleccionada" [ngClass]="{
        'correcta': respuestaSeleccionada && opcion === preguntaActual.respuestaCorrecta,
        'incorrecta': respuestaSeleccionada === opcion && opcion !== preguntaActual.respuestaCorrecta,
        'no-seleccionada': respuestaSeleccionada && respuestaSeleccionada !== opcion && opcion !== preguntaActual.respuestaCorrecta
      }">
        @if(opcion.startsWith('http')) {
        <img [src]="opcion" alt="Opción de Pokémon" width="96" height="96">
        } @else {
        {{ opcion }}
        }
      </button>
      }

    </div>
    @if(categoriaSeleccionada !== 'pokemon' && categoriaSeleccionada !== 'pokemon-inverso') {
    <button class="btn-juego" (click)="cambiarIdioma()">Cambiar idioma</button>
    }
    <button class="btn-juego" (click)="volverASeleccion()">Elegir otra categoria</button>
  </div>
  }

  @if (estadoJuego === 'terminado') {
  <div class="resultado-final">
    <h2>¡Juego Terminado!</h2>
    <p class="puntuacion-final">Tu puntuación final es: {{ puntuacion }} de {{ preguntas.length }}</p>
    <button class="btn-juego" (click)="volverASeleccion()">Elegir otra categoria</button>
    <button class="btn-juego" (click)="volverASeleccion()">Jugar de nuevo</button>
  </div>
  }

  <p class="puntuacion">Puntuación: {{ puntuacion }}</p>

</div>