<h1>Juego del Ahorcado</h1>
<p>Adivina la palabra oculta seleccionando las letras.</p>

<div class="game-container">
    <svg height="250" width="200" class="hangman-figure">

        <line x1="60" y1="20" x2="140" y2="20" />
        <line x1="140" y1="20" x2="140" y2="50" />
        <line x1="60" y1="20" x2="60" y2="230" />
        <line x1="20" y1="230" x2="100" y2="230" />

        @if (errores >= 1) {
        <circle cx="140" cy="70" r="20" class="figure-part" /> <!-- Cabeza -->
        }
        @if (errores >= 2) {
        <line x1="140" y1="90" x2="140" y2="150" class="figure-part" /> <!-- Cuerpo -->
        }
        @if (errores >= 3) {
        <line x1="140" y1="120" x2="120" y2="100" class="figure-part" /> <!-- Brazo Izquierdo -->
        }
        @if (errores >= 4) {
        <line x1="140" y1="120" x2="160" y2="100" class="figure-part" /> <!-- Brazo Derecho -->
        }
        @if (errores >= 5) {
        <line x1="140" y1="150" x2="120" y2="180" class="figure-part" /> <!-- Pierna Izquierda -->
        }
        @if (errores >= 6) {
        <line x1="140" y1="150" x2="160" y2="180" class="figure-part" /> <!-- Pierna Derecha -->
        }
    </svg>


    <div class="word-display">
        @for (letra of mostrarPalabra; track $index) {
        <span class="letra">
            {{ letra }}
        </span>
        }
    </div>

    <div class="keyboard">
        @for (letra of alfabeto; track letra) {
        <button class="key" (click)="manejadorIntento(letra)"
            [disabled]="intentos.has(letra) || estadoJuego !== 'jugando'">
            {{ letra }}
        </button>
        }
    </div>

    @if (definicion) {
    <div class="hint-container">
        <p><strong>Pista:</strong> {{ definicion }}</p>
    </div>
    }
</div>

@if (estadoJuego !== 'jugando') {
<div class="popup-container show">
    <div class="popup">
        @if (estadoJuego === 'ganaste') {
        <h2>¡Felicidades! ¡Has ganado!</h2>
        } @else if (estadoJuego === 'perdiste') {
        <h2>¡Has perdido!</h2>
        <h3>...la palabra era: {{ palabra }}</h3>
        }
        <button (click)="startGame()">Jugar de Nuevo</button>
    </div>
</div>
}